{% extends "base.html" %}

{% block title %}{{ order.id }}{% endblock %}

{% block content %}
    <h1>Order №{{ order.id }} - Table №{{ order.table_number }}</h1>
    {% include "order_management/status_select.html" %}
    <p class="items">
        Items:
        <ul>
            {% for order_item in order.orderitem_set.all %}
                <li>
                    {{ order_item.item.name }} — {{ order_item.item.price }} x {{ order_item.quantity }}
                </li>
            {% endfor %}
        </ul>
    </p>
    <p class="total_price">
        Total price: {{ order.total_price }}
    </p>
    <p class="date">
        Created {{ order.created_at }}
    </p>
{% endblock %}

{% block sidebar %}
    <a href="{% url 'orders:edit_order' order.id %}" class="btn btn-primary">Update order</a>
    <a href="{% url 'orders:order_delete' order.id %}" class="btn btn-primary">Delete</a>
{% endblock %}