{% extends "order_management/base.html" %}

{% block title %}Order management{% endblock %}

{% block content %}
    {% for order in orders %}
        <h2>
            <a href="{{ order.get_abs_url }}">
                Order №{{ order.id }} - Table №{{ order.table_number }}
            </a>
        </h2>
        <p class="status">
            Status: {{ order.get_status_display }}
        </p>
        <p class="items">
            Items:
            {% for item in order.items.all|slice:":5" %}
                <li>
                    {{ item.name }} — {{ item.price }}
                </li>
            {% endfor %}
        </p>
        <p class="total_price">
            Total price: {{ order.total_price }}
        </p>
        <p class="date">
            Created {{ order.created_at }}
        </p>
    {% endfor %}
    {% include "order_management/pagination.html" with page=page_obj %}
{% endblock %}

{% block sidebar %}
    <a href="{% url 'orders:order_add' %}" class="btn btn-primary">Add order</a>
{% endblock %}